<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>users</title>
</head>
<body>
          <h1>Here are a user of appTwo:</h1>
          {% if user %}
          <ol>
                    {% for person in user %}
                    <li>Users Info</li>
                    <ul>
                              <li>First Name: {{person.first_name}}</li>
                              <li>Last Name: {{person.last_name}}</li>
                              <li>Email: {{person.email}}</li>
                    </ul>

                    {% endfor %}
          </ol>

          {% endif %}
          
</body>
</html>