<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>{{title}}</title>
          <style>
                    .main{
                              width: 1000px;
                              background-color: blanchedalmond;

                    }
          </style>
</head>
<body>
          <h1 class="main">{{heading}}</h1> <br>
          <h2>{{clist}}</h2>
          <h2>
                    {% for n in clist %}
                    <div>{{forloop.counter}} {{n}}</div>
                    {% endfor %}
          </h2>

          <br>
          <table border="1" callpadding="10">
                    <tr>
                              <th>Name</th>
                              <th>Phone nuber</th>
                    </tr>
                    {% for d in student_details %}
                    <tr>
                              <td>{{d.name}}</td>
                              <td>{{d.phone}}</td>
                    </tr>
                    {% endfor %}
          </table>

          <br>
          {% if number|length > 0 %}
          {% for n in number %}
          {% if n > 2 %}
          <div>{{n}}</div>
          {% endif %}
          {% endfor %}
          {% else %}
          No data found
          {% endif%}
          

</body>
</html>